<table>
    <tr>
        <th>Performer</th>
        <th>Title</th>
        <th>Year</th>
        <th>Average</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% for album in album_list %}
    <tr>
        <td><a href="{% url 'rating:performer_detail' album.performer.id %}">{{ album.performer.name }}</a></td>
        <td><a href="{% url 'rating:album_detail' album.id %}">{{ album.title }}</a></td>
        <td>{{ album.pub_year }}</td>
        <td>{{ album.mean }}</td>
        <td><a href="{% url 'rating:update_album' album.pk %}">Update</a></td>
        <td><a href="{% url 'rating:delete_album' album.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
