{% extends "rating/base.html" %}
{% block content %}

{% block title %}
Album Rating - {{ performer.name }}
{% endblock %}

<h3>{{ performer.name }}</h3>

<h5>
    <a href="{% url 'rating:update_performer' performer.pk %}">Edit</a>
    <a href="{% url 'rating:delete_performer' performer.pk %}">Delete</a>
</h5>

<hr>
<h4>Add album</h4>
<form action="{% url 'rating:add_album' performer.pk %}" method="post">
{% csrf_token %}
    Title<input name="title" type="text"/><br>
    Year<input name="year" type="number" value="1975"/><br>
    <input type="submit" value="Add"/>
</form>

<hr>
<h4>Ratings</h4>
{% load rating_extras %}
{% album_list performer.album_set.all %}

{% endblock %}